
/* Tablets/Ipads */
@media only screen and (min-width: 788px) and (max-width: 979px){

    /* Sibre */
    .qualidade::after{
        content: "";
        height: 80px;
        width: 100%;
        display: block;
        background: url(../IMG/icons/Linhas.svg) no-repeat;
        position: relative;
        top: -330px;
        right: -126px;
        z-index: -20;
    }

    .sobre .qualidade::after{
        content: "";
        height: 80px;
        width: 100%;
        display: block;
        background: url(../IMG/icons/Linhas.svg) no-repeat;
        position: relative;
        top: -222px;
        right: -126px;
        z-index: -20;
    }



    /* Portfolio */
    .Portfolio ul li img{
        height: 210px;
        margin: 0 auto;
    }

    
    /* Produtos */
    

    .InfoProduct{
        background: #000;
    }
    .InfoProduct p{
        font-size: 14px;
        padding: 20px 30px;
        height: 180px;
    }
    
    .InfoProduct ul li{
   
    width: 180px;
  
}

.InfoProduct ul li:nth-child(1), .InfoProduct ul li:nth-child(2) {
    margin-bottom: 4px;
}
.InfoProduct ul li:nth-child(even){
    margin-left: 4px;
}

/* Contato */
.GerarOrcamento input, .GerarOrcamento textarea,  #FormatacoesBike li, .white .GerarOrcamento input, .white .GerarOrcamento textarea{
    width: 96%;
}

.DadosOrcamento ul, .DadosOrcamento span, .DadosOrcamento p{
    margin-left: 10px;
}


}


/* Mobile */
@media only screen and (max-width: 787px){
    
    /* Cabeçalho */
    .header{
        position: relative;
        width: 100%;
    }

    .header img{
        margin: 0 auto;
        
    }

    /* Barra de navegação */
    .navigation_bar{
        text-align: center;
    }

    .navigation_bar ul{
        margin-left: -40px;
    }


    .navigation_bar ul li{
        margin: 2px;
        
    }
    
    .navigation_bar ul li a{
        color: #000;
        border: 4px solid #000;
        width: 260px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 0;
    }

    .navigation_bar ul li a:hover{
       background-color: #fff;
       color: #FFC00C;
       border: 4px solid #fff;
    }

    .home{
        overflow-y:hidden ;
        margin-top: 0;
        padding-top: 5px;
    }
    


    /* Qualidade */
    .qualidade{
        margin-bottom: 40px;
    }
    
    .qualidade::after{
        content: none;
    }

    .sobre .qualidade::after{
        content: none;
    }

    .qualidade img{
        margin: 0 auto -50px;
        width: 193px;
    }
    

    /* Portfolio */
    .Portfolio ul li img{
        margin: 0 auto;
        width: 100%;
    }



    /* Motivacional */
    .motivacional{
        background: url(../IMG/Banner/Motivacional.jpg) no-repeat center;
        width: 100%;
        height: 200px;
        display: block;
        text-align: center;
    }

    .motivacional blockquote{
        width: 100%;
        margin: 40px auto 0;
    }



    /* Sobre */
    /* Banner */

    .banner{ 
        height: 150px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        color: #fff;
        z-index: 10;
    }

    /* Valores Visão */
    .vv h2{
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 30px;
    }


    .bg img{
        width: 100%;
        margin: 0 auto ;
    }


    /* Produtos */
.TheProduct img{
    
    width: 100%;
    
}
.TheProduct h2{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -100px;
    text-align: center;
    margin-bottom: -60px
}
.TheProduct h2::after, .TheProduct h2::before{
    content: "";
    background: #fff;
    width: 60px;
    height: 3px;
    display: block;
    margin: 6px auto;
}

.IconProcuct{
    background: #000;
    width: 100%;
    height: auto;
    overflow-y: none;
}

.IconProcuct img{
    width: 190px;
    margin: -10px auto 0;
    
}

.InfoProduct{
    background: #000;
    
}


.InfoProduct p{
    font-size: 14px;
    line-height: 25px;
    padding: 20px 30px;
}



.InfoProduct ul li{
    background: #FFC00C;
    text-transform: uppercase;
    font-size: 18px;
    width: 149px;
    color: #000;
    line-height: 20px;
    height: 49px;
    text-align: center;
    float: left;
    font-weight: bold;
    padding-top: 15px;
}

.InfoProduct ul li:nth-child(1), .InfoProduct ul li:nth-child(2) {
    margin-bottom: 2px;
}
.InfoProduct ul li:nth-child(even){
    margin-left: 2px;
}




/* Portfolio */

.AreaParaTexto{
    height: 245px;
    overflow-y: hidden;
}


    .ThisIsBikcraft{
    text-align: center;
    height: 240px;
    width: 100%;
    margin:60px auto 0;
    overflow-y: hidden;
}

    .ThisIsBikcraft p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 25px;
}


    /* Contato */
    .GerarOrcamento input, .GerarOrcamento textarea,  #FormatacoesBike li, .white .GerarOrcamento input, .white .GerarOrcamento textarea{
        width: 96%;
    }

    .DadosOrcamento ul, .DadosOrcamento span, .DadosOrcamento p{
        margin-left: 10px;
    }
   
  
    
    
}