*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

img{
    display: block;
}

/* Cabeçalho */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFC00C;
    padding: 15px 0;
    z-index: 10;
    
}
nav{
    
   text-align: right; 
}

nav ul li{
    display: inline-block;
    margin-top: 20px;
}
nav ul li a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}
nav ul li a:hover{
    color: #fff;    
}



/* Section Banner inicial */

.home{
    
    background: url("../IMG/Banner/Banner-inicial.jpg") no-repeat center;
    width: 100%;
    height: 380px;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    color: #fff;
    padding-top: 80px;
}


.home .container h1{
    font-size: 45px;
    font-weight: bolder;   
}

.home blockquote{
    margin-left: auto;
    margin-right: auto;    
    max-width: 500px;
    
}

.home cite{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.home blockquote p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}


.home blockquote p:before{
    content: "";
    display: block;
    background-color: #fff;
    width: 60px;
    height: 3px;
    margin: 10px auto;
}

.home blockquote p:after{
    content: "";
    display: block;
    background-color: #fff;
    width: 60px;
    height: 3px;
    margin: 10px auto;
}


.home .btn{
    margin-top: 20px;
    background:none;
    border:3px #FFC00C solid;
    height: 50px;
    width: 150px;
    color: #FFC00C;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.home .btn:hover{
    color: #fff;
    border:3px #FFF solid;
   
}



/* Produtos */

.secundary{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 60px auto;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.secundary:after{
    content: "";
    background: #000;
    display: block;
    max-width: 40px;
    height: 3px;
    margin: 3px auto;
}
.productsList h3:after{
    content: "";
    background: #000;
    display: block;
    max-width: 40px;
    height: 3px;
    margin: 3px auto 10px;
}

.productsList{
    display: inline-block;
}
.productsList .divisor{
    background: #FFC00C;
    width: 100%;
    padding: 30px;
    height: 120px;
    overflow-y: hidden;
}

.productsList h3{
    margin-top: -10px;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.productsList .divisor p{
    color: #000;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    
    
}

.productsList .Bik img{
    margin-bottom: -10px;
    background: #000;
    text-align: center;
    width: 100%;
    padding: 35px;
}

/* Botao de saber mais */

.AreaDeAcesso {
    text-align: center;
}

.AreaDeAcesso p{
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -10px;
}

.AreaDeAcesso .btn{
    background:none;
    border:3px #FFC00C solid;
    height: 50px;
    width: 150px;
    color: #FFC00C;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.AreaDeAcesso .btn:hover{
    background:#FFC00C;
    color: #ffff;
}

/* Portfolio */

.Portfolio{
    margin-top: 60px;
    background-color: #000;
    color: #fff;
    padding-bottom: 30px;
}

.Portfolio .secundary{
    color: #FFC00C;
}
.Portfolio .secundary:after{
    background: #FFC00C;
}
.Portfolio li {
    display: inline-block;
    margin: 0 0 15px 15px;
}

/* Qualidade */

.qualidade::after{
    content: "";
    height: 80px;
    width: 100%;
    display: block;
    background: url(../IMG/icons/Linhas.svg) no-repeat;
    position: relative;
    top: -310px;
    right: -222px;
    z-index: -20;
}

.qualidade img{
    margin: 0 auto;
    width: 193px;
}

.qualidade .AreaDeTexto ul{
    padding: 90px 0  0;
    text-align: center;
}

.tertiary{
    color: #000;
    font-size: 18px;
    font-weight: bold; 
    text-transform: uppercase;
}
.tertiary::after{
    /* Linhas */
    content: "";
    background: #000;
    display: block;
    max-width: 40px;
    height: 3px;
    margin: 3px auto 10px;
}


/* Motivacional */
.motivacional{
    background: url(../IMG/Banner/Motivacional.jpg) no-repeat center;
    width: 100%;
    height: 200px;
    background-size: cover;
    text-align: center;
}

.motivacional blockquote p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

.motivacional cite{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  
}
.motivacional blockquote{
    width: 400px;
    margin: 50px auto 0;
}

.motivacional blockquote ::after{
     content: "";
    display: block;
    background-color: #fff;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    border: #fff solid 1px;
}
.motivacional blockquote ::before{
     content: "";
    display: block;
    background-color: #fff;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    border: #fff solid 2px;
}

/* Footer */

.footer{
    background: #000;
    width: 100%;
    color: #fff;
    padding: 20px 0;
}




.footer h3{
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFC00C;
    font-weight: bold;
}

.footer h3::after{
    content: "";
    background: #FFC00C;
    height: 3px;
    width: 50px;
    display: block;
    margin: 2px 0 10px 0;
}

.footerHistoria{
    padding-right: 40px;
    
}
.footerContato ul li{
    line-height: 20px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footerRedes ul li{
    display: inline-block ;
    margin-right: 10px;
    padding: 2px;
}

.credits{
    background: #FFC00C;
    width: 100%;
    padding: 10px;
}


/* -------------------------------------------------------------------------------------- */

/* Sobre */
/* Banner */
.sobre{
    margin-top: -60px;
}


#bannerSobre{
    background: url(../IMG/Banner/bg04.jpg) no-repeat center;
}

.banner{ 
    height: 150px;
    width: 100%;
    text-align: center;
    margin-top: 90px;
    color: #fff;
    z-index: 10;
}

.banner h1{
    
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.banner h1::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 60px;
    height: 3px;
    margin: 2px auto 3px;
}

.vv{
    margin-top: 60px;
    
    line-height: 20px;
}
.vv p, .vv ul li{
    font-size: 18px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.vv h2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.vv h2::after{
    content: "";
    background: #000;
    height: 3px;
    width: 40px;
    display: block;
    margin: 10px 0;   
}

.infos{
    margin-bottom: 40px;
}

.bg img{
    margin: 0 auto ;
}

.sobre .qualidade::after{
    content: "";
    height: 80px;
    width: 100%;
    display: block;
    background: url(../IMG/icons/Linhas.svg) no-repeat;
    position: relative;
    top: -200px;
    right: -222px;
    z-index: -20;
}

/* --------------------------------------------------------------------------------------- */
/* Produtos */

#bannerProdutos{
    background: url(../IMG/Banner/bg03.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 60px;
}

.TheProduct{
    
    margin-bottom: 60px;
    
}
.TheProduct h2{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -180px;
    text-align: center;
    margin-bottom: -50px
}
.TheProduct h2::after, .TheProduct h2::before{
    content: "";
    background: #fff;
    width: 60px;
    height: 3px;
    display: block;
    margin: 6px auto;
}

.IconProcuct{
    background: #000;
    padding: 70px 0;
}

.IconProcuct img{
    margin: 0 auto;
}

.InfoProduct{
    background: #000;
}
.InfoProduct p{
    color:  #fff;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
    padding: 30px 40px;
    height: 180px;
}



.InfoProduct ul li{
    background: #FFC00C;
    text-transform: uppercase;
    font-size: 18px;
    width: 229px;
    color: #000;
    line-height: 20px;
    height: 49px;
    text-align: center;
    float: left;
    font-weight: bold;
    padding-top: 15px;
}

.InfoProduct ul li:nth-child(1), .InfoProduct ul li:nth-child(2) {
    margin-bottom: 2px;
}
.InfoProduct ul li:nth-child(even){
    margin-left: 2px;
}

/* Orçamento */

.GerarOrcamento{
    background: #000;
    
}

.GerarOrcamento h2{
    font-weight: bold;
    color: #FFC00C;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: .1em;
    text-align: center;
    margin: 40px 0;
}

.GerarOrcamento h2::after{
    content: "";
    background: #FFC00C;
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px auto;
}

.GerarOrcamento label{
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.GerarOrcamento input{
    height: 38px;
    margin-bottom: 12px;
}

.GerarOrcamento textarea{
    height: 130px;
    margin-bottom: 20px;
}
.GerarOrcamento input, .GerarOrcamento textarea{
    width: 400px;
    background: none;
    border: #FFC00C solid 4px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    padding-left: 10px;
    display: block;
}

.GerarOrcamento .btn {
    width: 150px;
    height: 40px;
    color: #FFC00C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    border: #FFC00C solid 3px; 
    cursor: pointer;
    margin-bottom: 30px;
}

.GerarOrcamento .btn:hover{
    background: #FFC00C;
    color: #fff;
}

.DadosOrcamento span{
    color: #FFC00C;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.DadosOrcamento ul li{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 10px;
}

.DadosOrcamento ul{
    margin-bottom: 40px;
}

.DadosOrcamento p{
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

#FormatacoesBike li{
    height: 40px;
    width: 400px;
    padding: 10px 0 5px 20px;
    padding: s;
    font-size: 14px;
    margin: 0 0;
}

.cinza{
  background-color: #212121;  
}

/* -------------------------------------------------------------------------------------------------------- */

/* Portfolio */

#bannerPortfolio{
    background: url(../IMG/Banner/bg05.jpg) no-repeat center;
}

.ThisIsBikcraft{
    height: 215px;
    
}

.ThisIsBikcraft blockquote{
    text-align: center;
    height: 140px;
    width: 470px;
    margin:60px auto 0;
    
}
.ThisIsBikcraft blockquote p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 25px;
}

.ThisIsBikcraft blockquote cite{
    font-weight: bold;
    font-style: normal;
    text-align: right;
    float: right;
    margin-top: 10px;
}

#ajustesPage{
    margin-top: 10px;
    padding-top: 40px;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Contato */

#bannerContato{
    background: url(../IMG/Banner/bg02.jpg) no-repeat center;
}

.white .GerarOrcamento{
    margin-top: 50px;
    background: #fff;
    margin-bottom: 20px;
}

.white .GerarOrcamento label{
    color: #000;
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.GerarOrcamento input{
    height: 38px;
    margin-bottom: 12px;
}


.white .GerarOrcamento input, .white .GerarOrcamento textarea{
    width: 400px;
    background: none;
    border: #FFC00C solid 4px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    padding-left: 10px;
    display: block;
}

.white .GerarOrcamento .btn {
    width: 150px;
    height: 40px;
    color: #FFC00C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    border: #FFC00C solid 3px; 
    cursor: pointer;
}
.white .GerarOrcamento .btn:hover {
    color: #fff;
}


.white .DadosOrcamento ul li{
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 10px;
}

.redes li{
    display: inline-block;
    margin-left: 2px;
}


.map{
    margin-bottom: 40px;
}